body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #555969;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: #343541;
    border-bottom: 1px solid #acacbe;
    color: #ECECF1;
}

header .site-title a {
    font-weight: 600;
    text-decoration: none;
    color: #ECECF1
}

header .header-menu {
    display: flex;
}

header .header-separater {
    margin: 0 5px;
}

main section {
    background-color: #343541;
    width: 100%;
    min-height: calc(100vh - 50px);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
}

main section .section-box {
    /* background-color: #555969; */
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 150px);
}

@media screen and (min-width:800px) {
    main section .section-box {
        width: 700px;
    }
}

main section .chats-box {
    color: #d9d9e3;
    font-size: 1rem;
    line-height: 1.5rem;
}

main section .chats-box p {
    margin: 0px;
}

main section .chat-question-box {
    display: flex;
    background-color: #343541;
    padding: 20px;
}

main section .chat-answer-box {
    display: flex;
    background-color: #555969;
    padding: 20px;
}

main section .chat-icon {
    font-size: 1.4rem;
    margin-right: 20px;
}

main section .form-box {
    width: 100%;
    height: 100px;
}

main section .textarea-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
}

main section .form-box form {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

main section .form-box textarea {
    border-radius: 10px 0 0 10px;
    width: calc(100% - 10px);
    height: 100%;
    border: 0px;
    resize: none;
}

main section .form-box button {
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    padding-right: 10px;
}

main section .form-box .form-spinner-box {
    border-radius: 0 10px 10px 0;
    padding-top: 25px;
    padding-right: 10px;
    background-color: #fff;

}

main section .form-box form .hidden {
    display: none;
}